# Git
.git
.gitignore

# Entorno virtual local
.venv/
venv

# Caché de Python
__pycache__
*.pyc
*.pyo

# Caché de notebooks
.ipynb_checkpoints/

# Caché de pruebas
.pytest_cache

# Archivos generados localmente
data/*.csv
models/*.pkl

# Configuración local
.env
.vscode

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
